<div class="container buffer-top">
	<h2>About Ludere and A&amp;A Productions</h2>
	
	<h3>The Start - A Project</h3>
	Everything began with a class called Senior Project during the 2015 Spring Semester at the University of Florida. A student was binge watching a new show through a free online streaming website when her browser crasehd, and she lost her place. This brought to mind how there never seemed to be a <i>good</i> website to track all your watching habits; it seemed there was either only in house tracking or none at all, and the existing web services were poorly designed or didn't work.
	<br /><br />
	
	Thusly the idea for the project was born. After a bit of talking around, that student found another student who had similar problems; none of the existing tracking sites had a good, modern, user driven environment. With a bit of negotiating, A&amp;A Productions was then born.

	<h3>The Process - Creating Ludere</h3>
	A lot of learning, time, and work went in to getting Ludere up and running. New technologies had to be learned, old technologies explained, other assignments had to be completed. Despite it all, A&amp;A Productions cranked out line after line of code and feature after feature to make Ludere into what you see today.
	<br /><br />

	Our first locally hosted, functional page looked like this:
	<br />
	Coming as soon as we find it: Begining screenshot...
	<br /><br />
	
	As for the current stage of development: take a look around!

	<h3>The End - Just kidding, there is no end! :)</h3>

</div>

<site-footer></site-footer>