<div class="container buffer-top" ng-init="getCatalogueOf();">
	<h2>{{ title }}</h2>

	<!--catalogue items-->
	<div ng-show="category == 0">
		<div ng-repeat="item in catalogue" class="row">
			<div class="col-lg-2 col-sm-4 col-xs-12">
				<img ng-src="{{ item.picture }}" class="img-responsive img-rounded thumbnail"/>
			</div>
			<div data-id="{{ item._id }}" class="col-lg-4 col-sm-8 col-xs-12">
				<h4><a ng-href="#/catalogue/item/{{ item._id }}">{{ item.title }}</a></h4>
				<p>
					<strong>Type: </strong>{{ item.type }}, 
					<strong> Genres: </strong>{{ item.genres }}
				</p>
				<p>{{ item.plotShort }}</p>
			</div>
		</div>

		<!--people-->
		<div ng-show="category == 1">
			<h2></h2>
		</div>

		<!--companies-->
		<div ng-show="category == 2">

		</div>

		<!--users-->
		<div ng-show="category == 3">

		</div>	
	</div>
</div>

<site-footer></site-footer>