<div class="container">
	<h2>Verify Your E-mail</h2>
	<p>We want to ensure the quality of your experience by confirming that you signed up with the correct e-mail and are not a Chinese farming bot.</p>
	<form>
		<div class="form-group">
			<label for="username">Enter your confirmation code</label>
			<input type="text" class="form-control" name="confirmCd" placeholder="Confirmation Code" required/>
		</div>
		<button type="submit" class="btn btn-lg btn-green">Confirm</button>
		<button type="submit" class="btn btn-lg btn-blue">Resend Email</button>
	</form>
</div>

<site-footer></site-footer>