<div class="container container-small" ng-controller="AuthController">
	<form ng-submit="login()">
		<div class="form-group">
			<label for="username">Username</label>
			<input ng-model="usernm" type="text" class="form-control" placeholder="Username" required/>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input ng-model="passwd" type="password" class="form-control" name="password" placeholder="Password" required/>
		</div>
		
		<input type="submit" class="btn btn-lg btn-blue" value="Log In"/>
	</form>
</div>

<site-footer></site-footer>