<div class="container container-small">
	<form>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username" required/>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password" required/>
		</div>
		
		<button type="submit" class="btn btn-lg btn-blue">Log In</button>
	</form>
</div>

<site-footer></site-footer>