<div class="container container-small">
	<form>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username" required/>
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password" placeholder="Password" required/>
		</div>
		
		<div class="form-group">
			<label for="verifyingPassword">Re-Type Password</label>
			<input type="password" class="form-control" name="repassword" placeholder="Re-type Password" required/>
		</div>

		<div class="form-group">
			<label for="email">E-mail</label>
			<input type="email" class="form-control" name="email" placeholder="Enter an email address" required/>
		</div>

		<div class="form-group">
			<label for="birthday">Birthday</label>
			<input type="date" class="form-control" required/>
		</div>

		<div class="form-group">
			<label for="Gender">Gender</label>
			<select class="form-control">
				<option>Male</option>
				<option>Female</option>
				<option>Custom</option>
			</select>
		</div>	

		<button type="submit" class="btn btn-lg btn-green">Create Account</button>
	</form>
</div>

<site-footer></site-footer>