<div class="container-gray">
	<h4>Add <strong>{{ catalogueItem.title }}</strong> to your list</h4>
	
	<form class="form-inline">
		<div class="form-group">
			<label for="status">Status</label>
			<select ng-model="itemStatus" ng-options="item for item in inputContent.statuses" class="form-control" name="status" placeholder=""required></select>
		</div>

		<div class="form-group">
			<label for="episodeCount">Episodes Seen</label>
			<input ng-model="itemEpsWatched" type="number" max="{{ catalogueItem.numEpisodes }}" class="form-control" placeholder=""/>
			<strong>/{{ catalogueItem.numEpisodes }}</strong>
		</div>

		<div class="form-group">
			<label for="rating">Rating</label>
			<select ng-model="itemRating" ng-options="item for item in inputContent.ratings" class="form-control" name="rating"></select>
		</div>
	</form>

	<a class="btn btn-sm btn-green" ng-click="updateUserList()">{{ submitBtnTxt }}</a>
	<a ng-show="removeBtn" class="btn btn-sm btn-blue" ng-click="removeCheck()">Remove</a> 

	<div class="container" ng-show="removeBtnClk && removeBtn">.
	Are you sure you wish to remove <strong>{{ catalogueItem.title }}</strong>?
	<a class="btn btn-sm btn-blue" ng-click="removeFromUserList()">Yes</a>
	<a class="btn btn-sm btn-green" ng-click="removeCheck('yes')">No</a>
	
	</div>

</div>



