@import url(http://fonts.googleapis.com/css?family=Leckerli+One);

@blue: #337ab7;
@green: #5cb85c;
@gray: #ece9e9;

@content-bg: white;

@navbar-height: 3.438em;
@navbar-bg: #0F0F0F;


/* Gradients
-------------------------------------------------- */
.black-gradient {
  background-image: -ms-linear-gradient(top, #000000 0%, #525252 175%); /* IE10 Consumer Preview */ 
  background-image: -moz-linear-gradient(top, #000000 0%, #525252 175%); /* Mozilla Firefox */ 
  background-image: -o-linear-gradient(top, #000000 0%, #525252 175%); /* Opera */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(1.75, #525252)); /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-linear-gradient(top, #000000 0%, #525252 175%); /* Webkit (Chrome 11+) */ 
  background-image: linear-gradient(to bottom, #000000 0%, #525252 175%); /* W3C Markup, IE10 Release Preview */ 
  color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-y: scroll;
  overflow-x: hidden;

  background: @gray;
}

hr {
  border-top: 1px solid darken(@gray, 10%);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 0.5em; 
}

form {
  padding: 1.5em;
  padding-top: 1em;
}

.no-footer {
  background-color: none;
}

.container-gray {
  background-color: @gray;
}

/* UI Definitions 
---------------------------------------------------*/
.btn {
  border-radius: 0.5em;
  border-width: 2px;
  padding: 0.5em;
  background: darken(@gray, 10%);
  
  &.btn-blue {
    color: white;
    background: @blue;
    border-color: lighten(@blue, 15%);

    &:hover, &:active {
      border-color: darken(@blue, 5%);
      background: lighten(@blue, 5%);
    }
  }

  &.btn-green {
    color: white;
    background: @green;
    border-color: lighten(@green, 15%);

    &:hover, &:active {
      border-color: darken(@green, 5%);
      background: lighten(@green, 5%);
    }
  }
}

.favorited {
  color: red;
}


/* Navbar Definitions 
---------------------------------------------------*/
.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background: @navbar-bg;
}

.navbar-inverse .navbar-nav>li>a.btn {
  margin-top: 0.5em;
  padding: 0.5em;

  &.btn {
    background: none;
  }

  &.btn-blue {
    color: @blue;
    border-color: @blue;

    &:hover, &:active {
      border-color: lighten(@blue, 20%);
      color: lighten(@blue, 20%);
    }
  }

  &.btn-green {
    color: @green;
    border-color: @green;

    &:hover, &:active {
      border-color: lighten(@green, 20%);
      color: lighten(@green, 20%);
    }
  }
}

.navbar-right .dropdown .icon.dropdown-toggle {
    padding-top: 0.5em;
    padding-bottom: 0.65em;

    & .icon-img {
      max-height: @navbar-height - 1em;
    }
}

.navbar-inverse .navbar-nav > li {
  margin-right: 0.5em;
}

.navbar-brand {
  font-family: 'Leckerli One';
  font-size: 1.5em;
}

/* Background Definitions 
---------------------------------------------------*/
.full-cover {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

.full-cover .container {
  padding-top: 16.5em;
  & h1, & h2, & h3, & h4, & h5, & h6 {
    line-height: 1.5;
  }
}

.tv-img {
  background: url(http://upload.wikimedia.org/wikipedia/commons/9/97/Family_watching_television_1958.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tv-img {
  & > .black-gradient {
    opacity: 0.95;
  }
}

.cover-photo {
  padding-top: 3.5em;
  margin-bottom: 1.5em;
  background: url(http://sputnik.am/wp-content/uploads/2013/12/Armenian_food_Armenian_kitchen-Sputnik.jpg);

  & .cover-photo-content {
    background: fade(@gray, 10%);
    padding-top: 3em;
    height: 100%;

    color: lighten(black, 7%);
  }

  & .page-header {
    color: white;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

/* Text Definitions 
---------------------------------------------------*/
.userNote {
  color: purple;
}

.inlineH4 {
  font-size: 1.25em;
}


/* Layout Definitions 
---------------------------------------------------*/
.buffer-top {
  margin-top: 75px;
}

.info {
  margin-bottom: 0.5em;
}

.readable {
  line-height: 1.5;
}

.box-center {
  margin: 0 auto;
}

.rounded-border {
  border-radius: 0.5em;
}

.article-border {
  border: 1px solid darken(@gray, 10%);
}

.article {
  background: @content-bg;

  padding:0.5em;
  padding-bottom: 1.5em;
  margin-bottom: 0.5em;
  .rounded-border();
  .article-border();

  & h1, & h2, & h3, & h4, & h5 {
    margin-left: 0.5em;
  } 
  & p {
    margin-left: 1em;
  }
}

.article-left {
    margin-right: 0.15em;
}

.feed {
  .rounded-border();
  .article-border();

  background: @content-bg;
}

/* Images
---------------------------------------------------*/
.img-responsive {
  .box-center();
}

#profile-picture {
  max-width: 15em;
  margin: 0 auto;
  margin-bottom: 1em;
}

.hover-img {
  position: relative;

  & .hover-img-info {
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.75);
    visibility: hidden;
    .rounded-border();
    z-index: 100;

    text-decoration: none;
    color: white;

    padding: 1em;
  }
}


/* Animations 
---------------------------------------------------*/