<div class="container" ng-controller="UserController">
	<!--Display the user's favorites list-->
	<h2>{{ currentUser }}'s Favorites</h2>
	<div class="row">
		<div class="col-md-2 col-sm-3 col-xs-4" ng-repeat="item in user.favorites">
			<a ng-href="#/catalogue/item/{{ item._id }}">
				<img ng-src="{{item.picture}}" class="img-responsive img-rounded"/>
			</a>
			<h4>{{ item.title }}</h4>
		</div>
	</div><!--row-->
		
	<hr/>

	<!--Display the user's full list-->
	<h2>{{ currentUser }}'s List</h2>
	<div>
		<div class="col-md-2 col-sm-3 col-xs-4" ng-repeat="item in user.list">
			<a ng-href="#/catalogue/item/{{ item._id }}">
				<img ng-src="{{item.picture}}" class="img-responsive img-rounded"/>
			</a>
			<h4>{{ item.title }}</h4>
		</div>
	</div><!--row-->
</div>

<site-footer></site-footer>