<div class="container" ng-controller="UserController">
	<!--User Summary section-->
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-12">
			<img src="http://placehold.it/200x200" class="img-responsive"/>
		</div>
		<div class="col-md-9 col-sm-8 col-xs-12">
			<h2>{{ user.name }} <a ng-show="isCurrentUser" class="btn btn-sm btn-default" href="#/user/{{currentUser}}">Update Profile</a></h2>
			<div class="row">
				<strong>{{ user.gender }}</strong>|
				<strong>{{ user.lastUpdated }}</strong>|
				<strong>{{ user.location }}</strong>
			</div>
		</div>
	</div>
	
	<!--User Metrics-->
	<div class="row">
		<h3>Statistics</h3>
	</div>

	<!--Lists-->
	<div class="row">
		<h3>{{ user.name }}'s List</h3>
	</div>

	<!--Recently Watched-->
	<div class="row">
		<h3>Recently Watched</h3>
	</div>
</div>

<site-footer></site-footer>