<div ng-controller="UserController">
	<div>
		<div class>
			<div class="container">
				<div class="col-md-2 col-sm-3 col-xs-12">
					<img ng-src="{{ user.picture }}" class="img-responsive img-rounded"/>
				</div>
				<div class="col-md-10 col-sm-9 col-xs-12">
					<h2>
						{{ user.name }}
						<a class="btn btn-default" ng-href="#/user/user.name/settings">Edit Profile</a>
					</h2>
					<div>
						<strong ng-show="user.gender">{{ user.gender }}</strong>
						<strong ng-show="user.lastUpdated">| {{ user.lastUpdated }}</strong>
						<strong ng-show="user.location">| {{ user.location }}</strong>
						<strong ng-show="user.birthday">| Birthday : {{ user.birthday | monthNm }} {{ user.birthday | date : 'dd' }}</strong>
					</div>
					<div>
						<a href class="btn btn-blue" ng-click="">
							<span class="glyphicon glyphicon-user"></span>
							Add Friend
						</a>
						<a href class="btn btn-default" ng-click="">
							<span class="glyphicon glyphicon-envelope"></span>
							Message
						</a>
					</div>
				</div>
			</div>
		</div><!---->
	</div><!--cover-photo-->

	<hr/>

	<div class="container">
		<!--Left Column-->
		<div class="col-sm-5 col-xs-12">
			<!--User Summary section-->
			<article class="row">
				<h3>About</h3>
				<p>{{ user.about }}</p>
			</article>

			<!--User Metrics-->
			<article user-stats></article>

			<!--Recently Watched-->
			<article class="row">
				<h3>Recently Watched</h3>
				<section>
					<div class="col-md-2 col-sm-3 col-xs-4" ng-repeat="item in user.list">
						<a title="{{ item.title }}" ng-href="#/catalogue/item/{{ item._id }}">
							<img ng-src="{{item.picture}}" class="img-responsive img-rounded"/>
						</a>
					</div>
				</section>
			</article>
		</div>
		
		<!--Right Column-->
		<div class="col-sm-7 col-xs-12">
			<!--Lists-->
			<article user-lists></article>
		</div>
	</div><!--.container-->

</div><!--ng-controller="UserController"-->

<site-footer></site-footer>